<!DOCTYPE html>
<html lang="it">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>MaDe: pagina semplice</title>

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;1,14..32&display=swap" rel="stylesheet">


		<style>
			body {
				margin-top: 3em;
				margin-left: 2em;
				margin-right: 4em;
				margin-bottom: 6em;
				background-color: rgb(240, 240, 240);
				font-family: Inter;

			}
			a {
				color: red;
			}
			.griglia {
				display: grid;
				grid-template-columns: 1fr 2fr 2fr;
				gap: 1em 1em;
			}
			.cella {
				/* background-color: orange; */
				/* color: black */
			}
			.cella img {
				width: 100%;
			}
			.cella iframe {
				width: 100%;
				border: none;
			}
			h1 {
				font-family: 'Times New Roman', Times, serif;
			}
		</style>

	</head>
	<body>
		<div class="griglia">

			<div></div>
			<h1>MaDe: pagina semplice</h1>
			<div></div>

			<div class="cella">Capitolo 1</div>
			<div class="cella">
				Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.
				<a href="https://www.google.com">Google</a>
				<br>
				Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.
				<br>
				Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.
			</div>
			<div class="cella">
				<img src="assets/cat.jpg" alt="immagine di un gatto">
			</div>



			<div class="cella">Capitolo 2</div>
			<div class="cella" style="grid-column: span 2">
				<iframe height="400px" src="assets/funzioni_trigonometriche/index.html" seamless></iframe>
				Didascalia
			</div>

			<div class="cella">Capitolo 3</div>
			<div class="cella">Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.</div>
			<div class="cella"></div>

			<div class="cella">Capitolo 4</div>
			<div class="cella">Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.</div>
			<div class="cella">
				<iframe height="400px" src="assets/funzioni_trigonometriche/index.html" seamless></iframe>
			</div>
		</div>
	</body>
</html>